<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DocumentThumbnailConfiguration</key>
	<dict>
		<key>accentColorHash</key>
		<data>
		rONKovT6Fdece7MiyTTh6xeZKMD23c4pOK1gfSL6dus=
		</data>
		<key>appIconHash</key>
		<data>
		S1rdUVay0WqhDSgHodrVtcm78PJpDQq1Pt+5X/WT49w=
		</data>
		<key>thumbnailIsPrerendered</key>
		<false/>
	</dict>
</dict>
</plist>
